header, footer {
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

header, footer, .row {
    padding: 0 10%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero p, .nav-list-item {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.call-to-action, .btn-primary {
    background-color: #3882F6;
}

.row:first-child h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.row:nth-child(odd) {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
    color: #1F2937;
}