* {
    box-sizing: border-box;
}

header, footer {
    background-color: #1F2937;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

header, footer, .row {
    padding: 0 10%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list, .image-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.hero div {
    margin-right: 10px;
}

.hero h1 {
    font-size: 48px;
    line-height: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero p, .nav-list-item {
    font-size: 18px;
    color: #E5E7EB;
}

.hero p {
    padding: 10px 0;
}

.hero img {
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.btn {
    padding: 5px 20px;
    border-radius: 5px;
}

.call-to-action, .btn-primary {
    background-color: #3882F6;
}

.btn-primary {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 14px;
}

.border-white {
    border: 2px solid #fff;
}

.row:first-child h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.row:nth-child(odd) {
    background-color: #E5E7EB;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

figure {
    padding: 0 100px;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

figcaption {
    text-align: right;
    font-weight: bold;
}

.image-list-item {
    width: 100px;
}

.image-list-item img {
    border-radius: 10px;
}

.call-to-action {
    width: 70%;
    height: 100px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cta-text h5 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

footer {
    height: 75px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}